* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background: #f5f5f5;
}

.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 450px;
    background: #fff;
    padding: 20px 30px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.login-form .title {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    margin: 20px 0px 30px;
    color: #111;
}

.login-form .input {
    margin: 10px 0px;
}

.login-form .input label,
.login-form .captcha label {
    display: block;
    font-size: 15px;
    font-weight: 800;
    color: #111;
    margin-bottom: 5px;
}

.login-form .input input {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #888;
}

.login-form .captcha {
    margin: 15px 0px;
}

.login-form .captcha .captcha-view {
    color: #555;
    width: 100%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    letter-spacing: 8px;
    border: 1px solid #888;
    font-family: "monospace";
}

.login-form .captcha .captcha-view span {
    display: inline-block;
    user-select: none;
}

.login-form .captcha .captcha-f {
    display: flex;
}

.login-form .captcha .captcha-f input {
    height: 40px;
    width: 100%;
    padding: 8px;
    border: 1px solid #888;
}

.login-form .captcha .captcha-f .btn {
    width: 40px;
    border: none;
    outline: none;
    background: #000000;
    color: #eee;
    cursor: pointer;
}

.login-form .loginb {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 15px;
    text-transform: uppercase;
    background: #2c73ab;
    color: #fff;
    cursor: pointer;
    border-radius: 6px;
}

.login-form .loginb.active {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 15px;
    text-transform: uppercase;
    background: #2c73ab;
    color: #fff;
    cursor: pointer;
    border-radius: 6px;
}

.login-form .g-cap {
    border: 1px solid #888;
    height: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
}